@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
/* Eliminamos todos los márgenes y rellenos */
* {
    margin: 0px;
    padding: 0px;
    background-color: #F0E5E5;
}
body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1280px;
}
h2 {
    font-family: 'Merriweather', sans-serif;
    width: 200px;

}

    /* HEADER */

header {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #E8B07E;
}
header * {
    background-color: #E8B07E;
}
header > img {
    width: 80px;
}
header h1 {
    font-family: 'Dancing Script', sans-serif;
    margin-right: 40px;
}

    /* NAV */

nav {
    grid-column: 1 / 4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #E8B07E;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #E8B07E;
}
nav ul li a:hover {
    border-bottom: solid 3px #8B5236;
}
nav form {
    background-color: #E8B07E;
}
nav form input {
    border-radius: 50px;
}

    /* MAIN */

main {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 25% auto auto;
    padding: 20px;
}

    /* SECTION EL TACON DE ORO */

#el-tacon-de-oro {
    grid-column: 1 / 4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px black;
}
#el-tacon-de-oro > img {
    max-width: 30%;
}
#el-tacon-de-oro > article p {
    padding: 10px;
}

    /* SECTION PRODUCTOS */

#productos {
    grid-column: 1 / 4;
    display: flex;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
}
#productos > article {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#productos > article img {
    max-width: 60%;
    margin: 0 auto;
}
#productos > artcile p {
    text-align: center;
}

    /* SECTION LA PIEL */

#la-piel {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
}
#la-piel > article p {
    padding: 10px;
}
#la-piel > img {
    max-width: 35%;
}

    /* SECTION TIENDAS */

#tiendas {
    grid-column: 1 / 4;
    display: flex;
    margin-top: 10px;
    padding-bottom: 10px;
}
#tiendas > article p {
    padding: 10px;
}
#tiendas > article h3 {
    padding: 0px 10px 0px 10px;
}
#tiendas > article form {
    padding: 0px 0px 0px 10px;
}

    /* FOOTER */

footer {
    grid-column: 1 / 4;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-color: #E8B07E;
}
footer * {
    background-color: #E8B07E;
}
footer h3 {
    margin-bottom: 10px;
    text-align: center;
}
#primera ul li {
    list-style: none;
}
#segunda > img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}
#tercera > img {
    padding: 10px;
}

/* --------------------Pagina de articulos------------------- */

aside {
    grid-column: 1 / 2;
    padding: 20px;
}
aside > a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
}
aside > a:hover {
    border-left: solid 3px #8B5236;
}

    /* ARTICULOS */

#articulos {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
#articulos > article {
    padding: 20px;
}
#articulos > article h3 {
    text-align: center;
}
#articulos > article img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

    /* -------------------pseudoclases y pseudoelementos------------------- */

    /* ejercicio 1 */
#navArticulos {
    background-color: #F0E5E5;
    justify-content: center;
}
#navArticulos ul li a {
    background-color: #F0E5E5;
    padding: 15px;
}
#articulos > article:target img {
    border: solid 2px black;
}
#articulos > article:target h3 {
    font-size: 25px;
}
#articulos > article:target > #contenidoArticulo p  {
    font-size: 20px;
    font-weight: bold;
}
#articulos > article:target > #contenidoArticulo button {
    display: block;
    margin: 0 auto;
}

    /* ejercicio 2 */
#navArticulos ul li a:hover {
    border: solid 2px black;
}
#navArticulos ul li a:active {
    background-color: black;
    color: white;
}

    /* ejercicio 3 */
#navArticulos ul li:nth-child(even) a {
    background-color: #8B5236;
}
#navArticulos ul li:nth-child(odd) a {
    background-color: #E8B07E;
}

    /* ejercicio 4 */
#articulos > article h3::before {
    content: url("../img/icon-zapato.png");
}


    /* ejercicio 5 */
aside > a:first-child {
    border-top: 2px solid #8B5236;
}
aside > a:last-child {
    border-bottom: 2px solid #8B5236;
}