* {
    margin: 0px;
}
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav {
    width: 50%;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
} 
nav ul li a {
    display: block;
    float: left;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    background-color: black;
    color: white;
}
section {
    margin: 10px;
}