    // Variables de colores
$color-background: #CCC;
$color-base: #333;

    // Colores menu
$navbar-background: rgb(155,111,145);
$navbar-color-hover: $color-background;

    // Colores del border de las imagenes
$border-color: $color-base;
$border-style: "solid";
$border-width: 0.1rem;
$border-radius: 1rem;

$main-container-width: 80%;

    // Estilos del contendedor de la pagina
.container {
    width: $main-container-width;
    margin: 0 auto;
}

    // Estilos del menu
nav {
    background-color: $navbar-background;
    padding: 0.2rem;
    ul {
        li {
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;
            &.active {
                color: $navbar-color-hover;
                font-weight: bolder;
            }
            &:hover {
                color: $navbar-color-hover;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

    // Estilos de las figuras
$figura-width: 25%;
figure.card {
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    display: inline-block;
    padding: 1rem;
    width: $figura-width;
    img {
        border-radius: 2*$border-radius;
        width: 100%;
    }
    figcaption {
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
}