.frutas {
    display: flex;
}

.ficha {
    border: solid 1px black;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    text-align: justify;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.fruta {
    font-size: 600%;
    margin: 0px;
    text-align: center;
    height: 140px;
}

.texto {
    padding: 5px;
    height: 200px;
}

.nombre {
    text-align: center;
    height: 40px;
    background-color: lightgray;
    font-size: 30px;
    margin: 0px;
}


