@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px, 50px, auto, 100px;
}

    /* ----------Header---------- */
header {
    grid-row: 1/4;
    grid-column: 1/4;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
header > #logo {
    width: 50%;
}
header > #logo img {
    width: 15%;
}
header > #examen h1 {
    width: 100%;
    font-family: 'Dancing Script', sans-serif;
    font-size: 35px;
}

    /* ----------NAV---------- */
nav {
    grid-row: 1/4;
    grid-column: 1/4;
    height: 50px;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
nav > ul {
    display: flex;
    list-style: none;
}
nav > ul li {
    padding: 0px 10px 10px 0px;
}
nav > ul li a {
    color: black;
    text-decoration: none;
    border-bottom: solid 2px black;
    border-radius: 20px;
    padding: 0px 15px 5px 15px;
    text-shadow: 1px 1px black;
}
nav > ul li a:hover {
    border: solid 2px black;
}

/* ----------Panel lateral (aside)---------- */
aside {
    grid-column: 1/2;
    background-image: url("img/frutas.png");
    z-index: -1;
    grid-row: 1/4;
}

    /* ----------Contenido--------- */
#contenido {
    grid-row: 1/4;
    grid-column: 2/4;
    padding: 10px;
    background-color: blanchedalmond;
}
#contenido-frutas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#contenido-frutas > .ficha .nombre {
    font-family: 'Dancing Script', sans-serif;
}
#contenido-frutas > .ficha:nth-child(even) {
    background-color: coral;
}
article:target > .nombre {
    background-color: yellow;
}

    /* ----------Footer---------- */
footer {
    grid-row: 1/4;
    grid-column: 1/4;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}