
h1 {
    border-bottom: solid 2px #00F;
}

h2 {
    border: solid 2px #AAA;
}

#datos {
    border-bottom: dotted 4px #F00;
    border-top: dotted 4px #F00;
}

#contenido {
    border: dashed 2px #0F0;
}